@font-face {
  font-family: "varela";
  src: url(../font/Varela.otf);
}
@font-face {
  font-family: 'monts';
  src: url(../font/Montserrat.otf);
}
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #fff;
}

html, body {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  font-family: "varela";
}

h1 {
  font-family: 'monts';
}

.head {
  height: 787px;
  border: 1px solid #aaa;
  background: url(../img/2.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}
.head header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.head nav {
  width: 1170px;
  margin: 0 auto;
}
.head nav > a {
  float: right;
  width: 100px;
  height: 100%;
  border-top: 5px solid #75b42b;
  margin-left: 30px;
  font-size: 18px;
}
.head nav > a:hover {
  border-top: 5px solid #fff;
}
.head nav .logo {
  float: left;
  width: 111px;
  height: 31px;
  margin-top: 30px;
  background-image: url(../img/Logo.png);
  border: none;
}
.head nav .logo:hover {
  border: none;
}

.bananar {
  margin: 0px auto;
  width: 1170px;
  height: 499px;
  position: relative;
}
.bananar > h1 {
  width: 900px;
  height: 85px;
  font-size: 80px;
  margin: 200px auto 76px;
  color: #fff;
}

.but {
  display: inline-block;
  width: 251px;
  height: 71px;
  border: 3px solid #fff;
  font-size: 30px;
  line-height: 71px;
  text-indent: 85px;
  border-radius: 5px;
}

.app {
  background: url(../img/photo-share_30.png) no-repeat 20px 10px;
  margin-right: 15px;
}

.play {
  background: url(../img/photo-share_33.png) no-repeat 29px 16px;
  margin-left: 15px;
}

.radiu {
  width: 50px;
  height: 20px;
  position: absolute;
}
.radiu > a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.radiu :first-child {
  background-color: #fff;
}

.one {
  bottom: 55px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.Whyama {
  width: 1100px;
  height: 680px;
  margin: 0 auto;
  text-align: center;
}
.Whyama h2 {
  font-size: 40px;
  margin-top: 110px;
  margin-bottom: 64px;
}
.Whyama > figure {
  width: 365px;
  float: left;
  color: #666;
  line-height: 24px;
}
.Whyama > figure img {
  margin-bottom: 39px;
}
.Whyama span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.shares {
  width: 100%;
  background-color: #262626;
}

.share {
  width: 1200px;
  height: 734px;
  margin: 0 auto;
  background: url(../img/101.png) no-repeat 90px 80px;
  background-size: contain;
  color: #aeaeae;
  position: relative;
}
.share h1 {
  color: #fff;
  font-size: 40px;
  margin: 0 auto;
  margin-bottom: 17px;
}
.share .shdes {
  width: 460px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 730px;
}
.share .shdes > a {
  display: inline-block;
  width: 170px;
  height: 93px;
  background-color: #82C830;
  border-radius: 8px;
  margin-right: 30px;
  position: relative;
  top: 12px;
}
.share .shdes > a:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
}
.share p {
  font-size: 18px;
  margin-bottom: 50px;
}
.share div {
  display: inline-block;
  width: 240px;
  height: 88px;
}
.share .two {
  left: 0px;
  bottom: -10px;
}

.new {
  width: 100%;
  height: 800px;
  background-color: #313131;
}
.new .featur {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: url(../img/10.png) no-repeat 525px 20px;
}
.new .featur h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 30px;
}
.new .featur > article {
  font-size: 18px;
  width: 450px;
  height: 180px;
  color: #aeaeae;
  position: absolute;
  top: 155px;
}
.new .color {
  width: 470px;
  height: 233px;
  color: #666;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  background: url(../img/photo-share_14.png) no-repeat 31px 43px;
  background-color: #fff;
  text-indent: 150px;
  line-height: 26px;
  bottom: 178px;
}
.new .color p:first-child {
  color: #74b22b;
  font-size: 18px;
  margin-top: 37px;
  margin-bottom: 10px;
}
.new .green {
  width: 100%;
  height: 40px;
  background-color: #82c820;
  position: absolute;
  bottom: 0px;
  line-height: 40px;
  text-indent: 30px;
}
.new .green > i {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.new .green > i:first-child {
  background-color: #fff;
}

.taken {
  width: 100%;
  height: 720px;
  margin: 0 auto;
  padding-top: 80px;
}
.taken .text {
  width: 454px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 300px;
}
.taken .text h1 {
  font-size: 40px;
  color: #82C830;
  margin-bottom: 30px;
}
.taken .text p {
  font-size: 18px;
  color: #666;
}
.taken .img {
  width: 100%;
  height: 500px;
}
.taken .imgs {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.taken .imgs .black {
  display: none;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: #c2c2c2;
  line-height: 60px;
  background: url(../img/photo-share_23.png) no-repeat 280px 20px;
  background-color: #000;
  text-indent: 30px;
}
.taken .imgs .black span {
  color: #75b42b;
  float: right;
  font-size: 18px;
  margin-right: 25px;
}
.taken .imgs:hover {
  top: -30px;
  height: 530px;
}
.taken .imgs:hover > .black {
  display: block;
}
.taken img {
  height: 100%;
}

.downlaod {
  width: 100%;
  height: 683px;
  background-color: #75b42b;
  padding-top: 40px;
}
.downlaod .content {
  width: 950px;
  height: 100%;
  margin: 0 auto;
}
.downlaod img {
  margin-top: 230px;
  float: left;
}
.downlaod .believe {
  margin-top: 177px;
  float: right;
  width: 550px;
  color: #fff;
}
.downlaod .believe p {
  font-size: 48px;
}
.downlaod .believe span {
  display: block;
  margin-top: 20px;
  margin-bottom: 43px;
}

.compat {
  width: 100%;
  height: 310px;
  background-color: #E7E7E7;
  padding-top: 130px;
}
.compat .phone {
  width: 970px;
  height: 200px;
  border-top: 1px solid #aaa;
  margin: 0 auto;
  position: relative;
  color: #666;
  line-height: 30px;
  padding-top: 36px;
}
.compat .phone h1 {
  position: absolute;
  top: -60px;
  font-size: 24px;
  font-weight: 300;
}
.compat .ios {
  width: 50%;
  height: 100%;
  float: left;
}
.compat .andr {
  width: 50%;
  height: 100%;
  float: right;
}
.compat img {
  margin-top: 30px;
}

footer {
  width: 1120px;
  height: 225px;
  margin: 0 auto;
  color: #666;
}
footer > p {
  float: left;
  font-size: 18px;
  line-height: 225px;
}
footer input {
  width: 311px;
  height: 45px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-indent: 10px;
  margin-right: 10px;
}
footer button {
  width: 101px;
  height: 45px;
  background-color: #82C830;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
footer .email {
  float: right;
  text-align: start;
  margin-top: 68px;
}
footer .email > p {
  margin-bottom: 20px;
}
