$zero:0px;
$colorWhite:#fff;
$size:100%;
$fontColor:#666;
$backcolor:#75b42b;

@font-face{
    font-family: "varela";
    src: url(../font/Varela.otf);
}
@font-face{
    font-family: 'monts';
    src:url(../font/Montserrat.otf);
}



*{
    margin: $zero;
    padding: $zero;
}
a{
    text-decoration: none;
    color: $colorWhite;
}

html,body{
    width: $size;
    height: $size;
}

.box{
    width: $size;
    height: $size;
    font-family:"varela";
}
h1{
    font-family: 'monts';
}

.head{

    height: 787px;
    border: 1px solid #aaa;
    background: url(../img/2.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
        
       
       header{
           width: $size;
           height: 90px;
           line-height: 90px;
           overflow: hidden;
       }
       
       nav{
           width: 1170px;
           margin: 0 auto;
           
           >a{
               float: right;
               width: 100px;
               height: $size;
               border-top: 5px solid $backcolor;
               margin-left: 30px;
               font-size: 18px;
           }
           >a:hover{
               border-top: 5px solid $colorWhite;
           }
           
           .logo{
                   float: left;
                   width: 111px;
                   height: 31px;
                   margin-top: 30px;
                   background-image: url(../img/Logo.png);
                   border: none; 
           }
           
           .logo:hover{
               border: none;
           }
       }
}

.bananar{
    margin: $zero auto;
        width: 1170px;
        height: 499px;
        position: relative;
    
    >h1{
        width: 900px;
        height: 85px;
        font-size: 80px;
        margin: 200px auto 76px;
        color: $colorWhite;
        
    }
}


.but{
    display: inline-block;
    width: 251px;
    height: 71px;
    border: 3px solid $colorWhite;
    font-size: 30px;
    line-height: 71px;
    text-indent: 85px;
    border-radius: 5px;
}

.app{
    background: url(../img/photo-share_30.png) no-repeat 20px 10px;
   margin-right: 15px;
}
.play{
    background: url(../img/photo-share_33.png) no-repeat 29px 16px;
    margin-left: 15px;
}

.radiu{
    width: 50px;
    height: 20px;
    position: absolute;    
    
    >a{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $colorWhite;
    }
    :first-child{
        background-color: $colorWhite;
    }
}

.one{
      bottom: 55px;
    left: $zero;
    right: $zero;
    margin: auto;
}

.Whyama{
    width: 1100px;
    height: 680px;
    margin: 0 auto;
    text-align: center;
    
    
    h2{
        font-size: 40px;
        margin-top: 110px;
        margin-bottom: 64px;
    }
    
    >figure{
        width: 365px;
        float: left;
         color: $fontColor;
         line-height: 24px;
         
         img{
             margin-bottom: 39px;
         }
    }
        span{
            display: block;
            font-size: 18px;
            margin-bottom: 10px;
    }
}


.shares{
    width: 100%;
     background-color: #262626;
}
.share{
    width: 1200px;
    height: 734px;
    margin: 0 auto;
    background: url(../img/101.png) no-repeat 90px 80px;
    background-size: contain;
   
    color: #aeaeae;
    position: relative;
    
        h1{
          color: $colorWhite;
          font-size: 40px; 
          margin: 0 auto;
          margin-bottom: 17px;
        }
    
        .shdes{
            width: 460px;
            height: 400px;
            position: absolute;
            top: 200px;
            left: 730px;
            
                 >a{
                display: inline-block;
                width: 170px;
                height: 93px;
                background-color: #82C830;
                border-radius: 8px;
                margin-right: 30px;
                position: relative;
                top: 12px;
                }
                
                >a:after{
                    content: "";
                    position: absolute;
                    width: $zero;
                    height: $zero;
                    left: $zero;
                    bottom: $zero;
                    right: $zero;
                    top: $zero;
                    margin: auto;
                    border: 20px solid transparent;
                    border-left: 20px solid $colorWhite;
                }
        }
    
        p{
            font-size: 18px;
            margin-bottom: 50px;
        }    
        
        div{
            display: inline-block;
            width: 240px;
            height: 88px;
        }
    
        .two{
           left: $zero;
           bottom: -10px;
        }
}

.new{
    width: $size;
    height: 800px;
    background-color: #313131;
    
        .featur{
            width: 1000px;
            height: $size;
            margin: 0 auto;
            position: relative;
            background: url(../img/10.png) no-repeat 525px 20px;
            
            h1{
                color: $colorWhite;
                font-size: 48px;
                margin-bottom: 30px;            
            }
            
            >article{
                font-size: 18px;
                width: 450px;
                height: 180px;
                color: #aeaeae;
                position: absolute;
                top: 155px;
            }
        }
    
    .color{
        width: 470px;
        height: 233px;
        color: $fontColor; 
        border-radius: 8px;
        overflow: hidden;
        position: absolute;
        background: url(../img/photo-share_14.png) no-repeat 31px 43px;
        background-color: $colorWhite;
        text-indent: 150px;
        line-height: 26px;
        bottom: 178px;
        
        
        p{
            &:first-child{
                color: #74b22b;
                font-size: 18px;
                margin-top: 37px;
                margin-bottom: 10px;
            }
        }
    }
    
    .green{
        width: $size;
        height: 40px;
        background-color: #82c820;
        position: absolute;
        bottom: $zero;
        line-height: 40px;
        text-indent: 30px ;
            
        >i{
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 2px solid $colorWhite;
            border-radius: 50%;
            
            &:first-child{
            background-color: $colorWhite;
            }
        }
    }
}


.taken{
    width: $size;
    height: 720px;
    margin: 0 auto;
    padding-top: 80px;
    
    .text{
        width: 454px;
        height: 200px;
        margin-bottom: 20px;
        margin-left: 300px;
        
        h1{
            font-size: 40px;
            color: #82C830;
            margin-bottom: 30px;
        }
        
        p{
            font-size: 18px;
            color:$fontColor;
            
        }
    }
    .img{
        width: $size;
        height: 500px;
    }
    .imgs{
        float: left;
        width: 25%;
        height: $size;
        position: relative;
        overflow: hidden;
        
    .black{
        display: none;
        height: 60px;
        width: $size;
        position: absolute;
        bottom: $zero;
        color: #c2c2c2;
        line-height: 60px;
        background: url(../img/photo-share_23.png) no-repeat 280px 20px;
         background-color: #000;
         text-indent: 30px;
        
        span{
            color: $backcolor;
            float: right;
            font-size: 18px;
            margin-right: 25px;
        }
    }
        
    }
    
    .imgs:hover{
        top:-30px;
        height: 530px;
    }
    
    .imgs:hover >.black{
        display: block;
    }
    
    img{
        height: $size;
    }
    
}

.downlaod{
    width: $size;
    height: 683px;
    background-color: $backcolor;
    padding-top: 40px;
    
        .content{
            width: 950px;
            height: $size;
            margin: 0 auto;
        }
        
        img{
            margin-top: 230px;
            float: left;
        }
        
        .believe{
            margin-top: 177px;
            float: right;
            width: 550px;
            color: $colorWhite;
            
            p{
                font-size:48px
            }
            
            span{
                display: block;
                margin-top: 20px;
                margin-bottom: 43px;
            }
        }
}


.compat{
    width: $size;
    height: 310px;
    background-color: #E7E7E7;
    padding-top: 130px;
    
        .phone{
            width: 970px;
            height: 200px;
            border-top: 1px solid #aaa;
             margin: 0 auto;
             position: relative;
             color: $fontColor;
             line-height: 30px;
             padding-top: 36px;
             
             h1{
                 position: absolute;
                 top: -60px;
                 font-size: 24px;
                 font-weight: 300;
             }
        }
        
        .ios{
            width: 50%;
            height: $size;
            float: left;
        }
        
        .andr{
            width: 50%;
            height: $size;
            float: right;
         }
         
        img{
              margin-top: 30px;
          }
}


footer{
    width: 1120px;
    height: 225px;
    margin: 0 auto;
    color: $fontColor;
    
        >p{
            float: left;
            font-size: 18px;
            line-height: 225px;
        } 
     
       input{
           width: 311px;
           height: 45px;
           border: 1px solid #aaa;
           border-radius: 5px;
           text-indent: 10px;
           margin-right: 10px;
       }
       
       button{
           width: 101px;
           height: 45px;
           background-color: #82C830;
           outline: none;
           border: none;
           border-radius: 5px;
           color: $colorWhite;
           cursor: pointer;
       }
       
       .email{
           float: right;
           text-align: start;
           margin-top: 68px;
           
           >p{
               margin-bottom: 20px;
           }
       }
  }

